.search {
  input[type="search"] {
    width: 100vw;
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: 1rem;
    border: 0;
    background-color: #F4F4F4;
    color: #4D4D4D;
    transition: .25s all ease;

    &:focus {
      background-color: #efefef;
      outline: 0;
    }

    &::placeholder {
      color: #979797;
    }
  }

  .hits {
    padding: .5rem 1rem;
  }
}
